<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <title>About</title>
</head>
<body>

<h1>About Us</h1>
<p>Welcome to One at a Time Store, where creativity comes to life! We are dedicated to bringing the joy of building and imaginative play to all ages with our wide range of LEGO sets. Whether you're a fan of classic bricks or looking for custom options, we offer something for everyone.
Join us in unleashing your imagination and creating something amazing!</p>

<a th:href="@{/mainscreen}" class="btn btn-primary btn-sm mb-3">Go back to Main Page</a>

</body>
</html>